/* --------------------------
  Main Styles
--------------------------- */
* {
    box-sizing: border-box;
  }
  
  form {
      max-width: 350px;
      margin: 10px auto;
      padding: 10px 20px;
      border-radius: 8px;
    }
  
  
  label {
      font-family: 'Lato', sans-serif;
      display: block;
      margin-top: 20px;
      margin-bottom: 8px;
    }

  input[type="text"],
  input[type="email"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: solid 1px #333;
    border-radius: 3px;
    font-size: 20 px;
    height: auto;
    margin: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20 px;
  }
  
  input[type="submit"]{
      color: #797e83;
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      font-weight: normal;
      text-decoration: none;
      text-align: center;
      font-style: normal;
      width: 55%;
      padding: 10px;
      border: solid 1px #333;
      border-radius: 3px;
      border-width: 1px 1px 3px;
           box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
      margin-top: 25px;
      margin-bottom: 10px;
    }
 
  /* --------------------------
   Media Queries
  --------------------------- */
  @media(min-width: 768px) {
  
    .contact-title {
      text-align: center;
    }
  
  
  }
  
  @media (min-width: 1200px) {
  
      form {
        max-width: 500px;
        margin: 0;
      }
      .contact-title {
        text-align: left;
      }
    }