section {
    margin:0 auto;
    padding: 1.5rem;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.html{
    font-family: "helvetica", "sans-serif";
}

.band-intro{
    color: white;
    background-color:brown;
}
.img-responsive{
    max-width: 100%;
    margin:0 auto;
}
.row{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:800px){
    .row{
        flex-direction: row;
    }
    .col{
        flex-basis: 50%;

    }
    
}